%li.message__contents.cleafix
  %p.message__contents__sender
    = chatmessages.name
  %p.message__contents__time
    = chatmessages.created.at
  %p.message__contents__content
    = chatmessages.body
