%li.conversation__group
  = link_to group_messages_path(group), class: "conversation__group__link" do
    %p.conversation__group__name
      = group.name
    %p.conversation__group__chat-message なんでやねん
