%li.message__contents.cleafix
  %p.message__contents__sender
    = message.name
  %p.message__contents__time
    = message.created_at.strftime(%Y/%m/%d %H : %M : %S)
  %p.message__contents__content
    = message.body
