%li.message__contents.cleafix
  %p.message__contents__sender
    = message.user.name
  %p.message__contents__time
    = message.time
  - if message.image.present?
    %p.message__contents__content
      = image_tag message.image
  - else
    %p.message__contents__content
      = message.body
