.right-content__middle
  %ul.message
    %li.message__contents.cleafix
      %p.message__contents__sender sample
      %p.message__contents__time 2017/02/10 00:00:00
      %p.message__contents__content aa
    %li.message__contents.cleafix
      %p.message__contents__sender sample
      %p.message__contents__time 2017/02/10 00:00:00
      %p.message__contents__content aa
