%p.header チャットグループが作成されました。
.body
  .left-content
    .left-content-top
      %p.left-content__user-name sample

    .left-contant-bottom
      %ul.space
        %li.space__group
        =link_to
        %p.space__group__name sample
        %p.space__group__chat-message aa

        %li.space__chat-message aa


.right-content
  .right-content__top
    %p.chat-group sample
    %p.chat-members Members: aa aa

.right-content__border
  %ul.middles
