.header{
  background-color: #38AEF0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
}

.notice{
  background-color: #38AEF0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
}

.alert{
  background-color: red;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;
}

