.left-content{
  float:left;
  width: 300px;
  height: 100%;
  background-color: #2f3e51;

  .left-content-top{
    padding: 0 20px 20px 20px;
    height: 80px;
    width: 260px;
    background-color: #253141;
    float:left;

    &__user-name{
      float:left;
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 100px;
    }
  }
}

.left-content-bottom{
  float: left;
  height: calc(100% - 100px);
  width: 260px;
  padding: 0 20px 0 20px;
  background-color: #2f3e51;

  .space{
    padding-top: 20px;

    &__group{
      padding-bottom: 40px;
      color: #FFFFFF;

    &__link{
      color: #FFFFFF;
      text-decoration: none;
    }

    &__name {
    font-size: 15px;
    }

    &__chat-message{
      padding-top: 5px;
      font-size: 11px;
    }
  }
 }
}